/* topNavbar */
.topNavbar{
/* #topNavbar{ */
  /* position: fixed; */
  /* position: relative; */
  /* top:0; */
  /* left:0; */
  /* margin: 0; */
  width: 100%;
  /* width: auto; */
  /* width: initial; */
  height: 80px;
  /* padding:0; */
  /* box-sizing: border-box; */

  /* transition: 0.5s; */

  background: black;
  /* border-radius: 0; override bootstrap inherited class topNavbar ! avoid using the same name class as bootstrap? */

  /* overflow: hidden; */
  /* overflow: auto; */

  /* display:flex;
  align-items: center; */

  display: grid;
  /* display: inline-grid; */
  /* grid-template-columns: minmax(200px, 1fr), minmax(200px,1fr); */
  /* grid-template-columns: auto auto; */
  grid-template-columns: 200px, 1fr;
  /* align-content: center; */
  /* align-content: space-evenly; */
  /* align-content: space-around; */
  /* align-content: start; */
  /* align-content: end; */

  /* grid-template-rows: 1fr; */

  /* grid-template-areas: 'svg .' */
}
/* svg{
  grid-area: svg;
} */
.topNavbar.hide{
  /* transform: translateY(-100%); */
  display:none;
}
/* .topNavbar .channel{
  position: relative;           
} */
/* .topNavbar ul{ */
/* .topNavbar:not(:first-child) { */
.topNavbar #barContainer{
/* #topNavbar #barContainer{ */
  /* margin:0;
  padding:0; */
  display: flex;
  float: right;

  /* width:100%; */

  /* justify-content: center;
    align-items: center;
  background: green; */

  /* position: relative; */
  position: absolute;
  /* for dropdown position <ul> absolute  */
  /* or by .responsive added */

  right:0;
  /* top:50%; */

  /* vertical-align: middle; */
}
/* .topNavbar #barContainer .hamburgBar{
  vertical-align: middle;
} */
/* .topNavbar #barContainer ul{ */
.topNavbar #barContainer #navMenu{
  /* margin:0;
  padding:0; */
  display: flex;
  float: right;

  /* justify-content: center;
    align-items: center; */

  /* position: relative;  */
}
.topNavbar ul li{
  list-style: none;
  line-height: 80px;
  text-align: center;
}
/* .topNavbar ul li a{
  display: block;
  padding: 0 30px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
} */
/* .topNavbar ul li a:hover,
.topNavbar ul li a.active
{
  background: #fd2928;
  color: #fff;
} */

.topNavbar li a {
  /* float: right; */
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  /* padding: 14px 16px; */
  padding: 0 16px;
  text-decoration: none;
  font-size: 17px;
}

.topNavbar #hamburgBar {
/* .topNavbar .hamburgBar { */
  display: none;
}

@media screen and (max-width: 900px) {
  /* .topNavbar li a:not(:first-child) { */
  /* .topNavbar li a:not(.hamburgBar) { */
  .topNavbar #barContainer #navMenu{ 
    display: none;
    position: absolute;
    /* top:80; */
    top:80px;
    right:0;
    z-index: 10;
    /* width:100%; */
    background: grey;
  }

  /* .topNavbar div a.hamburgBar { */
  /* .topNavbar .hamburgBar { */
  .topNavbar #hamburgBar {
    /* float: right; */
    display: block;
  }
}

@media screen and (max-width: 900px) {
  /* #barContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  /* .topNavbar.responsive { */
  /* .topNavbar.responsive #barContainer{ */
  .topNavbar #barContainer #navMenu.responsive{
      /* position: relative; */
      display:block;
  }
  /* .topNavbar.responsive li a.hamburgBar { */
  /* .topNavbar.responsive #barContainer a.hamburgBar {
    position: absolute;
    right: 0;
    top: 0;
  } */
  /* .topNavbar.responsive ul { */
  /* .topNavbar.responsive #barContainer ul {
    position: absolute;
    min-width: 160px;
  } */
  /* .topNavbar.responsive li a { not working */
  /* .topNavbar.responsive a { */
  /* .topNavbar.responsive li a:not(.hamburgBar) { to override existing style, must use the same exact selector and attributes */
  /* .topNavbar.responsive ul li a{ */
  /* .topNavbar.responsive #barContainer ul li a{ */
  .topNavbar #barContainer ul.responsive li a{  
    /* float: none; */
    /* flex: 1; */
    /* display: block; */
    text-align: left;
    /* z-index:100000; */
  }
}
/* end of topNavbar */