:root {
  --navbarHeight: 80px;
}
/* topNavbar */
.topNavbar{
  position: relative;/*needed for barContainer absolute position*/
  width: 100%;
  height: var(--navbarHeight);
  background: black;
  display: grid;
  grid-template-columns: 200px, 1fr;
}

/* .topNavbar #barContainer{ */
.topNavbar .menu--dropdown{
  display: flex;
  align-items: center;

  position: absolute;
  right:0;
  height:100%; /*needed for vertical align hamburgbar icon*/
}
/* .topNavbar #barContainer #hamburgBar i { */
.topNavbar .menu--dropdown .menu--dropdown-icon-container i {
  vertical-align: middle;
  cursor: pointer;
  color: white;
}

/* .topNavbar #barContainer ul{ */
/* .topNavbar .menu--dropdown .menu--dropdown-content{ */
/* .topNavbar .menu--dropdown ul{ */
div.menu--dropdown-content{
  display: flex;
  float: right;
}
/* .topNavbar ul li{ */
div.menu--dropdown-content > div{
  list-style: none;
  line-height: var(--navbarHeight);
  text-align: center;
}

/* .topNavbar li a { */
  div.menu--dropdown-content > div a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 16px;
  text-decoration: none;
  font-size: 17px;
}

/* .topNavbar #hamburgBar { */
/* .topNavbar .menu--dropdown-icon-container { */
/* .topNavbar .menu-dropdown .menu--dropdown-icon-container { */
div.menu--dropdown-icon-container {
  display: none;
}

@media screen and (max-width: 900px) {
  /* .topNavbar #barContainer #navMenu{  */
  .topNavbar .menu--dropdown .menu--dropdown-content{   
    display: none;
    position: absolute;
    top:80px;
    right:0;
    z-index: 1000;
    /* width:100%; */
    background: black;
  }

  /* .topNavbar #hamburgBar { */
  /* .topNavbar .menu--dropdown-icon-container { */
  /* .topNavbar .menu-dropdown .menu--dropdown-icon-container { */
  div.menu--dropdown-icon-container {
    display: block;
    margin-right: 20px;
  }
}

@media screen and (max-width: 900px) {
  /* .topNavbar #barContainer #navMenu.responsive{ */
  .topNavbar .menu--dropdown .menu--dropdown-content.responsive{
      display:block;
  }
  
  /* .topNavbar #barContainer ul.responsive li a{   */
  /* .topNavbar .menu--dropdown .menu--dropdown-content a{   */
  /* .topNavbar .menu--dropdown ul.responsive li a{   */
  div.menu--dropdown-content.responsive > div a{  
    text-align: left;
  }
}
/* end of topNavbar */